{{define "content"}}
<h1>Equipment Properties</h1>

<h2>Weapon Properties</h2>
<ul class="tooltip-list">
  {{range .WeaponProperties}}
  <li class="tooltip" tabindex="0">
    <a class="tooltip-trigger" href="/properties/{{.Slug}}">{{.Name}}</a>
    <span class="tooltip-content">{{.Description}}</span>
  </li>
  {{end}}
</ul>

<h2>Armor Properties</h2>
<ul class="tooltip-list">
  {{range .ArmorProperties}}
  <li class="tooltip" tabindex="0">
    <a class="tooltip-trigger" href="/properties/{{.Slug}}">{{.Name}}</a>
    <span class="tooltip-content">{{.Description}}</span>
  </li>
  {{end}}
</ul>
{{end}}
